/*

!.gitignore

!/modules
/modules/*
!/modules/AdvertisementModule
!/README.md

!/custom
/custom/*
!/custom/panel_templates

!/custom/panel_templates/Default
/custom/panel_templates/Default/*
!/custom/panel_templates/Default/releases