/*

!.gitignore
!/README.md

!/modules
/modules/*
!/modules/AdvertisementModule
!/modules/AdvertisementModule/**

!/custom
/custom/*
!/custom/panel_templates
/custom/panel_templates/*
!/custom/panel_templates/Default
/custom/panel_templates/Default/*
!/custom/panel_templates/Default/advertisement
!/custom/panel_templates/Default/advertisement/**
